.hero {
    background-image: url('../img/heros/dfa.png');
}

.vision {
    display: block;
    margin: 0 auto;
    height: 400px;
}

.team {
    height: 1100px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.person {
    width: 200px;
    margin: 25px;
}

.person img {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
}

.stats {
    display: block;
    margin: 0 auto;
    height: 350px;
}

.stat {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.stat .number {
    color: orange;
    margin: 0;
    margin-right: 20px;
    font-size: 40px;
}

.stat .thing {
    color: black;
    font-size: 25px;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .content .slide {
        max-width: 800px;
    }

    .slide .stats {
        max-width: 800px;
    }

    .team {
        height: 1500px;
    }

    .slide {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 900px) {
    .content .slide .team{
        min-height: 450px;
        margin-bottom: 50px;
    }

    .content .slide .vision{
        min-height: 450px;
        margin-bottom: 50px;
    }

    .content .slide {
        max-width: 500px;
    }

    .vision {
        height: 550px;
    }

    .vision p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }

    .team {
        height: 1500px;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: space-around;
        align-content: space-around;
    }

    .person {
        margin: 0;
        width: 175px;
    }

    .person img {
        width: 150px;
        height: 150px;
    }

    .stat {
        margin: 20px 0;
    }
}
@media screen and (max-width: 600px) {
    .content .slide {
        max-width: 400px;
    }
    .vision {
        height: 650px;
    }
}
@media screen and (max-width: 500px) {
    .content .slide {
        min-height: 200px;
        width: 80%;
        margin-bottom: 25px;
    }

    .vision {
        height: 840px;
    }

    .vision p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }

    .team {
        height: 800px;
    }

    .person {
        margin: 0;
        width: 100px;
    }

    .person img {
        width: 100px;
        height: 100px;
    }

    .stats {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

    .stat {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin: 10px 0;
    }

    .stat .thing {
        width: 125px;
    }


}