.hero {
    background-image: url('../img/heros/faq.png');
}

.questions {
    display: block;
    height: 1500px;
    max-width: 1000px;
    margin: 0 auto;
}

.question {
    width: 100%;
    margin-bottom: 75px;
}

@media screen and (max-width: 1300px) {
    .questions {
        max-width: 800px;
    }

    .question h1 {
        font-size: 36px;
    }

    .question p {
        font-size: 16px;
    }

    .question a {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        min-height: 1900px;
    }

    .questions {
        max-width: 450px;
        min-height: 1400px;
    }

    .question h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        min-height: 1500px;
        height: 1800px;
    }

    .questions {
        max-width: 300px;
        min-height: 1000px;
    }

    .question h1 {
        font-size: 28px;
    }

    .question p {
        font-size: 12px;
    }

    .question a {
        font-size: 12px;
    }
}