@font-face {
    font-family: 'NexaLight';
    src: url('./NexaLight.otf');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('./BebasNeue.otf');
}

body {
    margin: 0;
    font-family: 'NexaLight', sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

object {
  width: 100%;
  height: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

h1 {
    font-size: 44px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #40c1ac;
}

footer {
    width: 100%;
    height: 100px;
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

footer div {
    height: 60px;
}

footer * {
    font-size: 14px;
}

.banner {
    background-color: #40c1ac;
    color: #FFFFFF;
    padding: 5px 0px;
    text-align: center;
}

.banner .bigtext {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 2px;
}

.banner p {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 0px;
}
.banner a {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.splash {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.splash .content {
    width: 60%;
    max-width: 1000px;
    max-height: 90%;
    background-color: white;
    border: 10px solid #40c1ac;
    padding-bottom: 2%;
    margin: 0;
    text-align: center;
}

.splash .presents {
    font-size: 30px;
    color: #40c1ac;
    font-weight: bold;
}

.splash .presents .italic {
    font-style: italic;
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.splash .presents .bold {
    color: orange;
}

.splash img {
    margin: 15px 0;
}

.splash .bold {
    color: #40c1ac;
    font-weight: bold;
}

.splash .block {
    margin: 15px 0;
}

.splash .splash_text {
    margin: 0 10%;
}

.splash p {
    font-size: 14px;
}

.splash a {
    text-decoration: underline;
    font-weight: bold;
}

.splash .dismiss {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

.inner {
    padding: 20px 30px;
    display: -webkit-flex;  
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

header .inner {
    padding: 20px 0;
    display: -webkit-flex;  
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;    
}

.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.hero h1 {
    margin: auto;
    text-align: center;
    font-family: 'BebasNeue';
    font-weight: 100;
    font-size: 90px;
    color: #ffffff;
}

.logo {
    padding-left: 20px;
    height: 100px;
}

.links {
    display: -webkit-flex;  
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    float: right;
}

.links a {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10%;
}

.links a:hover {
    background-color: #40c1ac;
    color: white;

}

.right_arrow {
    background: url('../../img/right_arrow.png') no-repeat center;
    background-size: cover;
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
}

.left_arrow {
    background: url('../../img/left_arrow.png') no-repeat center;
    background-size: cover;
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
}

.copyright {
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.social {
    display: inherit;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.social-icon {
    height: 20px;
    padding: 20px;
    opacity: 50;
}

.social p {
    margin: 0 15px;
}

.slide {
    display: -webkit-flex;  
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
}

.title {    
    display: -webkit-flex;  
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background-color: #40c1ac;
    height: 100px;
}

.title h1 {
    margin: 0;
    margin-left: 5%;
}

.description {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.bold {
    color: orange;
}

@media screen and (max-width: 1200px) {
    .slide {
        margin-bottom: 125px;
    }

    header {
        height: 125px;
    }

    .links a {
        font-size: 20px;
    }


}

@media screen and (max-width: 800px) {
    .links a {
        font-size: 20px;
    }

    .slide {
        margin-bottom: 50px;
    }

    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    header {
        height: 125px;
    }

    .splash {
        font-size: 16px;
    }

    .splash img {
        height: 125px;
    }

    .splash .presents {
        font-size: 22px;
    }

    .splash .presents .italic {
        font-size: 16px;
    }

    .splash .splash_text {
        margin: 0 5%;
    }

    .splash .block {
        margin: 10px 0;
    }
}

@media screen and (max-width: 660px) {
    header {
        height: 350px;
    }

    .inner {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

    .logo {
        margin: 0;
    }

    .links {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .links a {
        font-size: 20px;
        padding: 0;
    }

    .hero {
        max-height: 200px;
    }

    .hero h1 {
        font-size: 50px;
        padding-left: 25px;
    }

    footer {
        height: 200px;
    }

    footer .inner {
        height: 200px;
    }

    .copyright {
        -webkit-order: 99;
        order: 99;
    }

    .splash {
        font-size: 12px;
    }

    .splash .content {
        width: 80%;
    }

    .splash img {
        margin: 10px 0;
        height: 75px;
    }

    .splash .presents {
        font-size: 18px;
    }

    .splash .presents .italic {
        font-size: 14px;
    }

    .splash .splash_text {
        margin: 0 5%;
    }

    .splash .block {
        margin: 8px 0;
    }
}