.hero {
    background-image: url('../img/heros/projects.png');
}

.content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1300px;
}

.tableOfContents {
    display: inherit;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 200px;
}

.tableOfContents.sticky {
    position: fixed;
    top: 0;
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 5px solid #40c1ac;
    width: 100%;
    height: 50px;
    background-color: #40c1ac;
    color: white;
}

.row:hover {
    background-color: white;
    color: #40c1ac;
    cursor: pointer;
}

.main {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.main.sticky {
    margin-left: 300px;
}

.innerContent {
    max-width: 1000px;
}

.info {
    display: inherit;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 200px;
    margin-bottom: 50px;
    font-size: 22px;
}

.problem {
    margin-bottom: 40px;
}

.problem .bold {
    font-size: 26px;
}

.solution .bold {
    font-size: 26px;
}

.projects {
    display: inherit;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    align-content: space-around;
    height: 850px;
}

.members {
    height: 300px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.member {
    width: 100px;
    margin: 0 50px;
}

.portrait {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

.name {
    text-align: center;
}

.role {
    text-align: center;
    font-weight: 400;
}

.video {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 100px;
}

.summary {
    display: inherit;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 150px;
}

.allocatorSummary {
    height: 700px;
}

.description {
    font-size: 18px;
    padding-top: 0px;
}

.allocator .summary {
    height: 600px;
}

.fresh .summary {
    height: 100px;
}

.wte .summary {
    margin-bottom: 50px;
}

.projpic{
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   margin-bottom: 100px;
   min-height: 400px;
}

.booboopic {
    background: url('../img/projects/boo_boo_buddy.png') no-repeat center;
    background-size: 600px 400px;
}
.allocpic {
    background: url('../img/projects/Allocator_Mock_Up.png') no-repeat center;
    background-size: 600px 400px;
}
.freshpic {
    background: url('../img/projects/fresh.png') no-repeat center;
    background-size: 600px 400px;
}
.wtepic {
    background: url('../img/projects/wte.png') no-repeat center;
    background-size: 600px 400px;
}

.wtepic2 {
    background: url('../img/projects/wte_alternate.png') no-repeat center;
    background-size: 600px 400px;
}

@media screen and (max-width: 1300px) {
    .content {
        max-width: 900px;
    }

    .tableOfContents {
        width: 150px;
    }

    .row {
        width: 150px;
    }

    .main {
        max-width: 650px;
    }

    .main.sticky {
        margin-left: 250px;
    }

    .main .slide {
        max-width: 650px;
    }

    .info {
        height: 200px;
        margin-bottom: 50px;
    }

    .fresh .info {
        height: 250px;
    }

    .members {
        max-width: 400px;
        height: 400px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .member {
        margin: 0 20px;
    }

    .video {
        height: 400px;
        margin-bottom: 50px;
    }

    video {
        width: 500px;
        height: 375px;
    }

    .summary {
        height: 300px;
        margin-bottom: 50px;
    }

    .allocator .summary {
        height: 1000px;
        margin-bottom: 50px;
    }

    .wte .summary {
        height: 250px;
    }

    .fresh .summary {
        height: 300px;
    }
}


@media screen and (max-width: 900px) {
    .content {
        max-width: 550px;
    }

    .tableOfContents {
        width: 130px;
    }

    .row {
        width: 130px;
        height: 40px;
        font-size: 14px;
    }

    .main {
        max-width: 350px;
    }

    .main.sticky {
        margin-left: 200px;
    }

    .main .slide {
        max-width: 350px;
    }

    .project h1 {
        font-size: 40px;
    }

    .info {
        height: 250px;
        font-size: 18px;
    }

    .fresh .info {
        height: 300px;
    }

    .wte .info {
        height: 230px;
    }

    .problem {
        margin-bottom: 30px;
    }

    .problem .bold {
        font-size: 22px;
    }

    .solution .bold {
        font-size: 22px;
    }

    .video {
        height: 225px;
    }

    video {
        width: 300px;
        height: 225px;
    }

    .summary {
        height: 450px;
    }

    .wte .summary {
        height: 400px;
    }

    .members {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .member {
        width: 75px;
    }

    .portrait {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: none;
    }

    .name {
        text-align: center;
        font-size: 20px;
    }

    .role {
        text-align: center;
        font-weight: 400;
    }

    .summary {
        height: 550px;
    }

    .allocator .summary {
        height: 1600px;
    }

    .projpic {
        background-size: 400px;
        height: 300px;
        margin-bottom: 0px;
    }
    .fresh .summary {
        height: 550px;
    }

}


@media screen and (max-width: 600px) {
    .description {
        font-size: 16px;
        margin-top: 50px;
    }

    .content {
        -webkit-flex-direction: column;
        flex-direction: column;
        max-width: 350px;
    }

    .tableOfContents {
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 350px;
        height: 50px;
    }

    .row {
        text-align: center;
    }

    .main {
        max-width: 350px;
    }

    .main.sticky {
        margin-left: 0px;
    }

    .booboo .summary {
        height: 550px;
    }

    .allocator .summary {
        height: 1600px;
    }

    .fresh .summary {
        height: 550px;
    }

    .info {
        height: 250px;
    }
}