body {
	font-family: 'Lato', sans-serif;
	padding: 0px;
	min-width: 900px;
}

h1 {
	background-color: #00B08B;
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 2.5em;
	box-sizing: border-box;
	margin: 0px;
	padding: 50px 0 10px 50px;
}

h2 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 2em;
}
.container {
	padding: 5em 0 10em 0;
	max-width: 800px;
}
.tabContent {
	width: 100%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

.friendly-content {
	font-size: 1.2em;
}