.hero {
    background: url('../../img/dfa.png') no-repeat 50% 40%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .3),
           rgba(0, 0, 0, .3)
        ),
        url('../../img/dfa.png');
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
}

.vision {
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 350px;
}

.team {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    width: 200px;
    margin: 25px;
}

.person img {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
}

.stats {
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 300px;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.stat .number {
    color: orange;
    margin: 0;
    margin-right: 20px;
    font-size: 40px;
}

.stat .thing {
    color: black;
    font-size: 25px;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .content .slide {
        min-height: 450px;
        width: 450px;
        margin-bottom: 50px;
    }

    h1 {
        margin: 0 auto;
        text-align: center;
    }

    .vision {
        height: 500px;
    }

    .vision p {
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }

    .team {
        display: flex;
        height: 900px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .person {
        margin: 0;
    }

    .person img {
        width: 200px;
    }

    .stat {
        margin: 20px 0;
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 50px;
        padding-left: 25px;
    }

    .content .slide {
        min-height: 200px;
        width: 250px;
        margin-bottom: 25px;
    }

    h1 {
        margin: 10px auto;
        text-align: center;
        font-size: 30px;
    }

    .vision {
        height: 500px;
    }

    .vision p {
        font-size: 12px;
        margin: 0;
        margin-bottom: 20px;
    }

    .team {
        display: flex;
        height: 440px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .person {
        margin: 0;
        width: 100px;
    }

    .person img {
        width: 100px;
        height: 100px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .stat {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .stat .thing {
        width: 125px;
    }


}