.hero {
    background: url('../../img/dfa.png') no-repeat 50% 40%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.hero h1 {
	font-family: 'BebasNeue';
    font-weight: 100;
    font-size: 90px;
    color: #ffffff;
}
