.hero {
    background: url('../../img/cupcakes.png') no-repeat center;
    background-size: cover;
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .2),
           rgba(0, 0, 0, .2)
        ),
        url('../../img/cupcakes.png');
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
    padding: 0 50px;
}

.hero,.contact,.weare {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.slide h1 {
    text-align: center;
}

.weare {
    background: url('../../img/dfa_boards.jpg') no-repeat center;
    background-size: cover;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .3),
           rgba(0, 0, 0, .3)
        ),
        url('../../img/dfa_boards.jpg');
}

.who {
    background: url('../../img/who_we_are.png') no-repeat right;
    background-size: 600px 400px;
}

.projects {
    background: url('../../img/boo_boo_buddy.png') no-repeat left;
    background-size: 600px 400px;
}

.hackshops {
    background: url('../../img/hackshop.png') no-repeat right;
    background-size: 600px 400px;
}

.community {
    background: url('../../img/team.jpg') no-repeat left;
    background-size: 600px 400px;
}

.snippet {
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 40%;
    text-align: left;
}

.snippet p {
    font-size: 30px;
    padding: 0 50px;
}

.label {
    display: -webkit-flex;  
    display: flex;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
    width: 600px;
}

.label:hover {
    background-color: rgba(255,255,255,0.1);
}

.label div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100px;
}

.label p {
    color: white;
    font-size: 50px;
    padding: 0 25px;
}

.right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.contact {
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 200px;
    background-color: #40c1ac;
}

.slogan {
    margin: auto;
    font-size: 60px;
    color: #ffffff;
}

.sponsors {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 100px;
}

.sponsor {
    height: 50px;
}

@media screen and (max-width: 1300px) {
    .content .slide {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        height: 300px;
    }

    .who,.projects,.hackshops,.community {
        background-size: 450px 300px;
    }

   .label {
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .weare h1 {
        font-size: 50px;
        padding: 0 50px;
    }

    .contact h1 {
        font-size: 50px;
        padding: 0 50px;
    }

    .content .slide {
        display: -webkit-flex;  
        display: flex;
        height: 500px;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

    .who,.projects,.hackshops,.community {
        background-size: 450px 300px;
        background-position: top center;
    }

    .snippet {
        -webkit-order: 99;
        order: 99;
        width: 450px;
    }

    .snippet p {
        font-size: 24px;
        margin: 40px 0;
    }

    .label {
        width: 450px;
        height: 300px;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-self: center;
        align-self: center;
    }

    .label div {
        height: 80px;
    }

    .label p {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px) {
    .hero,.weare,.contact {
        max-height: 200px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .weare h1 {
        font-size: 40px;
    }

    .contact h1 {
        font-size: 40px;
    }

    .content .slide {
        height: 300px;
    }

    .who,.projects,.hackshops,.community {
        background-size: 300px 200px;
        background-position: top center;
    }

    .snippet {
        -webkit-order: 99;
        order: 99;
        width: 300px;
    }

    .snippet p {
        font-size: 16px;
        padding: 0 25px;
        margin: 30px 0;
    }

    .label {
        width: 300px;
        height: 50px;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-self: center;
        align-self: center;
        margin-bottom: 150px;
    }

    .label div {
        height: 50px;
    }

    .label p {
        font-size: 20px;
    }
}