.hero {
    background: url('../../img/cupcakes.jpg') no-repeat center;
    background-size: cover;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
    padding: 0 50px;
}

.weare {
    background: url('../../img/dfa_boards.jpg') no-repeat center;
    background-size: cover;
}

.who {
    background: url('../../img/who_we_are.jpg') no-repeat right;
    background-size: 600px 400px;
}

.projects {
    background: url('../../img/boo_boo_buddy.png') no-repeat left;
    background-size: 600px 400px;
}

.hackshops {
    background: url('../../img/hackshop.jpg') no-repeat right;
    background-size: 600px 400px;
}

.community {
    background: url('../../img/team.jpg') no-repeat left;
    background-size: 600px 400px;
}

.snippet {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 40%;
    text-align: left;
}

.snippet p {
    font-size: 30px;
    padding: 0 50px;
}

.label {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;  
    display: flex;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    width: 600px;
}

.label p {
    color: white;
    font-size: 50px;
    padding: 0 25px;
}

.right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.contact {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;  
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 200px;
    background-color: #40c1ac;
}

.slogan {
    margin: auto;
    font-size: 60px;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .weare h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .content .slide {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;  
        display: flex;
        height: 450px;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

    .who,.projects,.hackshops,.community {
        background-size: 450px 300px;
        background-position: top center;
    }

    .snippet {
        -webkit-order: 99;
        order: 99;
        width: 450px;
    }

    .snippet p {
        font-size: 24px;
    }

    .label {
        width: 450px;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-self: center;
        align-self: center;
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 50px;
        padding-left: 25px;
    }

    .weare h1 {
        font-size: 50px;
        padding-left: 25px;
    }

    .contact h1 {
        font-size: 50px;
        padding-left: 25px;
    }

    .content .slide {
        height: 275px;
    }

    .who,.projects,.hackshops,.community {
        background-size: 300px 200px;
        background-position: top center;
    }

    .snippet {
        -webkit-order: 99;
        order: 99;
        width: 300px;
    }

    .snippet p {
        font-size: 16px;
        padding: 0 25px;
    }

    .label {
        width: 300px;
        height: 50px;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-self: center;
        align-self: center;
        margin-bottom: 150px;
    }

    .label p {
        font-size: 20px;
    }
}