.hero {
    background: url('../../img/faq.jpg') no-repeat 50% 40%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .2),
           rgba(0, 0, 0, .2)
        ),
        url('../../img/faq.jpg');
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
}

.questions {
    display: block;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
}

.question {
    width: 100%;
}