.hero {
    background: url('../../img/faq.png') no-repeat 50% 40%;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .2),
           rgba(0, 0, 0, .2)
        ),
        url('../../img/faq.png');
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
}

.content {
    height: 1500px;
}

.questions {
    display: block;
    height: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

.question {
    width: 100%;
    margin-bottom: 75px;
}

@media screen and (max-width: 1300px) {
    .questions {
        max-width: 800px;
    }

    .question h1 {
        font-size: 36px;
    }

    .question p {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .questions {
        max-width: 450px;
        min-height: 1300px;
    }

    .question h1 {
        font-size: 32px;
    }

    .question p {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 50px;
        padding-left: 25px;
    }   

    .questions {
        max-width: 300px;
        min-height: 1250px;
    }

    .question h1 {
        font-size: 28px;
    }

    .question p {
        font-size: 12px;
    }
}