.hero {
    background: url('../../img/heros/faq.png') no-repeat 50% 40%;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
}

.hero h1 {
    font-family: 'BebasNeue';
    font-weight: 100;
    font-size: 90px;
    color: #ffffff;
}

.questions {
    display: block;
    height: 1500px;
    max-width: 1000px;
    margin: 0 auto;
}

.question {
    width: 100%;
    margin-bottom: 75px;
}

@media screen and (max-width: 1300px) {
    .hero h1 {
        font-size: 68px;
    }

    .questions {
        max-width: 800px;
    }

    .question h1 {
        font-size: 36px;
    }

    .question p {
        font-size: 16px;
    }

    .question a {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
        text-align: center;
    }

    .content {
        min-height: 1500px;
    }

    .questions {
        max-width: 450px;
        min-height: 1400px;
    }

    .question h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 50px;
        padding-left: 25px;
    }   

    .questions {
        max-width: 300px;
        min-height: 1250px;
    }

    .question h1 {
        font-size: 28px;
    }

    .question p {
        font-size: 12px;
    }

    .question a {
        font-size: 12px;
    }
}