.hero {
    background: url('../../img/hackshops.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: 
        linear-gradient(
           rgba(0, 0, 0, .3),
           rgba(0, 0, 0, .3)
        ),
        url('../../img/hackshops.jpg');
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
    padding: 0 50px;
}

.hackshop {
    display: flex;
    align-items: center;
}

.hackshop img {
    height: 300px;
}

.hackshop .info {
    padding-left: 50px;
    font-size: 20px;
}