.hero {
    background: url('../../img/heros/hackshops.png') no-repeat center;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 400px;
}

.hero h1 {
    font-family: 'BebasNeue';
    font-weight: 100;
    font-size: 90px;
    color: #ffffff;
}

.hackshop {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.hackshop img {
    height: 300px;
}

.info {
    padding-left: 50px;
    font-size: 20px;
}

.slide {
    margin-bottom: 50px;
}

.upcoming {
    color: #ffffff;
}

@media screen and (max-width: 1300px) {
    .content {
        width: 800px;
    }

    .info p {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .hero h1 {
        font-size: 70px;
        padding: 0 50px;
    }

    .content {
        max-width: 500px;
    }

    .description p {
        font-size: 16px;
    }

    .hackshop img {
        height: 200px;
        width: 200px;
    }

    .info {
        padding-left: 25px;
    }

    .info p {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        max-height: 200px;
    }

    .content {
        max-width: 350px;
    }
    .hero h1 {
        font-size: 64px;
    }

    .content .slide {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .hackshop img {
        height: 150px;
        width: 150px;
    }

    h1 {
        font-size: 36px;
    }

    .info {
        padding: 0 25px;
    }

    .info p {
        font-size: 12px;
    }

    .info a {
        font-size: 12px;
    }
}