.hero {
    background: url('../../img/hunger_prototype.png') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.hero h1 {
    font-size: 90px;
    color: #ffffff;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    height: 850px;
}

.boo {
    background: url('../../img/fresh.png') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.boo h2 {
    color: black;
}
