.slide {
    margin-bottom: 50px;
}

.hero {
    background: url('../../img/hunger_prototype.png') no-repeat center;
    background-size: cover;
    height: 500px;
}

.slideshow {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 0 50px;
}

.slideshow h1 {
    color: #ffffff;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    margin-bottom: 25px;
}

.info {
    height: 150px;
}

.video {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.members {
    height: 300px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.member {
    width: 100px;
}

.portrait {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}

.name {
    text-align: center;
}

.role {
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 1300px) {
    .content {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        max-width: 500px;
    }

    .info {
        height: 250px;
    }

    .info p {
        font-size: 16px;
    }

    .video {
        height: 300px;
    }

    video {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .slideshow {
        margin: 0 10px;
        max-width: 350px;
    }

    .content {
        max-width: 300px;
    }

    .info p {
        font-size: 12px;
    }

    .video {
        height: 270px;
    }

    video {
        width: 360px;
        height: 270px;
    }

    .members {
        width: 250px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 500px;
    }
}
