<head>
    <title>MIT Design for America</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../scripts/handlebars-v3.0.3.js" type="text/javascript" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../css/v2/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/v2/about.css">
</head>

<body>
    <header>
        <div class="inner">
            <a href="dfa.html">
                <img src="../../img/logo.png" alt="MIT DFA" class="logo">
            </a>
            <div class="links">
                <a href="about.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="hackshops.html">Hackshops</a>
                <a href="community.html">Community</a>
            </div>
        </div>
    </header>

    <div class="slide hero">
        <h1>Who We Are</h1>
    </div>


    <div class="content">
        <div class="slide vision">
            <h1>Our Story</h1>
            <p>MIT Design for America was founded in 2012 by a group of students who believed that making a difference did not have to wait until after graduation. From that thought, Design for America was born as the hub of creating social impact with design and engineering at MIT.</p>
            <p>Our goal is to connect students with real people to solve real problems. From homelessness to poor education, our members have already addressed some of the community&#39;s most pressing issues. Students are not limited by their age in the impact they can have, and we foster that by teaching new skills, providing new opportunities to work on pressing problems, and creating a community of changemakers eager to make an impact and help each other to do so.</p>
            <p>We&#39;re passionate about helping students not only make a difference, but also develop skills that cannot be learned in the classroom. DFA students tackle unsolved problems and in the process, develop the empathy, creativity, and passion that they carry forward with them.</p>
            <p>We&#39;re proud to make an impact in the community and welcome you to join us for the ride.</p>
        </div>
        <div class="narrow">
            <h1>The DFA Family</h1>
        </div>
        <div class="slide team">
            <div class="person">
                <img src="../../img/team/KellyLiu.png">
            </div>
            <div class="person">
                <img src="../../img/team/ConnieLiu.png">
            </div>
            <div class="person">
                <img src="../../img/team/WenZeng.jpg">
            </div>
            <div class="person">
                <img src="../../img/team/PiperLim.png">
            </div>
            <div class="person">
                <img src="../../img/team/MalenaOhl.jpg">
            </div>
            <div class="person">
                <img src="../../img/team/JuliaCanning.jpg">
            </div>
            <div class="person">
                <img src="../../img/team/JennyLiu.jpg">
            </div>
            <div class="person">
                <img src="../../img/team/LisaDeng.jpg">
            </div>
        </div>
        <div class="slide stats">
            <h1>By the Numbers</h1>
            <div class="stat">
                <p class="number">8</p>
                <p class="thing">Hackshops Organized</p>
            </div>
            <div class="stat">
                <p class="number">325</p>
                <p class="thing">Students Reached</p>
            </div>            
            <div class="stat">
                <p class="number">5</p>
                <p class="thing">Projects Developed</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="inner">
            <div class="copyright">
                &copy; 2015 Design for America
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pages/Design-for-America-MIT/540760426009269"  target="_blank">
                    <img src="../../img/social/facebook-small.svg" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com/mitdfa" target="_blank">
                    <img src="../../img/social/twitter-small.svg" alt="Twitter" class="social-icon">
                </a>
            </div>
            <div class="links">
                <a href="faq.html">FAQ</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </footer>
</body>