<head>
    <title>MIT Design for America</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../scripts/handlebars-v3.0.3.js" type="text/javascript" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../css/v2/main.css">
</head>

<body>
    <header>
        <div class="inner">
            <a href="dfa.html">
                <img src="../../img/logo.png" alt="MIT DFA" class="logo">
            </a>
            <div class="links">
                <a href="dfa.html">Home</a>
                <a href="about.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="events.html">Events</a>
            </div>
        </div>
    </header>

    <div class="slide hero"></div>
    <div class="slide who1">
        <div class="snippet">
            <h1>We are student run</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="banner">
            <img src="../../img/hero1.jpg">
        </div>
    </div>
    <div class="slide projects">
        <div class="banner">
            <img src="../../img/hero1.jpg">
        </div>
        <div class="snippet">
            <h1>We engineer solutions that make a difference</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="slide hackshops">
        <div class="snippet">
            <h1>We do something awesome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="banner">
            <img src="../../img/hero1.jpg">
        </div>
    </div>
    <div class="slide community">
        <div class="banner">
            <img src="../../img/hero1.jpg">
        </div>
        <div class="snippet">
            <h1>We do community stuff</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>    </div>
    <div class="slide who2">
        <h1 class="slogan">We are Design for America</h1>
    </div>

    <footer>
        <div class="inner">
            <div class="copyright">
                &copy; 2015 Design for America
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pages/Design-for-America-MIT/540760426009269"  target="_blank">
                    <img src="../../img/social/facebook-small.svg" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com/mitdfa" target="_blank">
                    <img src="../../img/social/twitter-small.svg" alt="Twitter" class="social-icon">
                </a>
            </div>
            <div class="links small">
                <a href="faq.html">FAQ</a>
                <a href="press.html">Press</a>
                <a href="contact.html">Contact</a>
        </div>
    </footer>
</body>