<head>
    <title>MIT Design for America</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../scripts/handlebars-v3.0.3.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="../../css/v2/main.css">
</head>

<body>
    <header>
        <div class="inner">
            <a href="dfa.html">
                <img src="../../img/logo.png" alt="MIT DFA"class="logo">
            </a>
            <div class="links">
                <a href="dfa.html">Home</a>
                <a href="about.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="events.html">Events</a>
            </div>
        </div>
    </header>

    <h1>DFA</h1>

    <footer>
        <div class="inner">
            <div class="copyright">
                &copy; 2015 Design for America
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pages/Design-for-America-MIT/540760426009269"  target="_blank">
                    <img src="../../img/social/facebook-small.svg" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com/mitdfa" target="_blank">
                    <img src="../../img/social/twitter-small.svg" alt="Twitter" class="social-icon">
                </a>
            </div>
            <div class="links small">
                <a href="faq.html">FAQ</a>
                <a href="press.html">Press</a>
                <a href="contact.html">Contact</a>
        </div>
    </footer>
</body>