<head>
    <title>MIT Design for America</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../scripts/handlebars-v3.0.3.js" type="text/javascript" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../css/v2/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/v2/hackshops.css">
</head>

<body>
    <header>
        <div class="inner">
            <a href="dfa.html">
                <img src="../../img/logo.png" alt="MIT DFA" class="logo">
            </a>
            <div class="links">
                <a href="about.html">About</a>
                <a href="projects.html">Projects</a>
                <a href="hackshops.html">Hackshops</a>
                <a href="community.html">Community</a>
            </div>
        </div>
    </header>

    <div class="slide hero">
        <h1>Hackshops</h1>
    </div>


    <div class="content">
        <h1>Past Hackshops</h1>
        <div class="slide hackshop">
            <img src="../../img/app_hack.png">
            <div class="info">
                <h3>App Design Hackshop</h3>
                <p>Have you ever wondered how to create an app, but lacked the resources, time, or ideas to do so? Come to MIT DFA&#39;s iOS App Design Hackshop on Sunday March 8th from 1-4pm in room 4-163. You&#39;ll get to learn app ideation techniques and UI/UX considerations, try your hand at paper prototyping, and receive coding help that will bring your new app idea to life! Spots will be given on a first come first serve basis so signup today.</p>
            </div>
        </div>
        <div class="slide hackshop">
            <img src="../../img/web_hack.png">
            <div class="info">
                <h3>Graphic Design Hackshop</h3>
                <p>Want to uncover the secrets behind successful branding? How do you actually make a webpage look good? Come to MIT DFA&#39;s Graphic Design Hackshop, where you will learn how to really think about design. At this hackshop, you will pick up typography, imagery, and sleek layout design taught by Tank Design, become an expert in Illustrator, and revamp a local organization&#39;s online presence by creating a complete webpage mock-up. You will also follow one DFA startup&#39;s success story using the design process.</p>
            </div>
        </div>
        <div class="slide hackshop">
            <img src="../../img/arduino_hack.png">
            <div class="info">
                <h3>Arduino Hackshop</h3>
                <p>Come make a difference with Design for America and hack an Arduino with us! From fall detectors for the elderly to pulse-sensing bracelets, design a health-related or other social impact hack idea, and we'll help you make it. We&#39;ll provide the materials, you just provide the enthusiasm to make a difference. No experience with Arduinos? No problem. We have MIT instructors and students on hand to teach you all about how to make something cool. Breakout sessions and Arduino 101 talks will be happening throughout the hackshop for you to learn all of the cool ways Arduinos can be used to make an impact.</p>
            </div>
        </div>
        <div class="slide hackshop">
            <img src="../../img/web_hack.png">
            <div class="info">
                <h3>3D Modeling Hackshop</h3>
                <p>Want to uncover the secrets behind successful branding? How do you actually make a webpage look good? Come to MIT DFA&#39;s Graphic Design Hackshop, where you will learn how to really think about design. At this hackshop, you will pick up typography, imagery, and sleek layout design taught by Tank Design, become an expert in Illustrator, and revamp a local organization&#39;s online presence by creating a complete webpage mock-up. You will also follow one DFA startup&#39;s success story using the design process.</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="inner">
            <div class="copyright">
                &copy; 2015 Design for America
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pages/Design-for-America-MIT/540760426009269"  target="_blank">
                    <img src="../../img/social/facebook-small.svg" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com/mitdfa" target="_blank">
                    <img src="../../img/social/twitter-small.svg" alt="Twitter" class="social-icon">
                </a>
            </div>
            <div class="links">
                <a href="faq.html">FAQ</a>
                <a href="contact.html">Contact Us</a>
            </div>
        </div>
    </footer>
</body>