<head>
    <title>MIT Design for America</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../scripts/handlebars-v3.0.3.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="../../css/v2/main.css">
    <link rel="stylesheet" type="text/css" href="../../css/v2/projects.css">
</head>

<body>
    <header>
        <div class="inner">
            <a href="dfa.html">
                <img src="../../img/logo.png" alt="MIT DFA" class="logo">
            </a>
            <div class="links">
                <a href="about.html">About Us</a>
                <a href="projects.html">Projects</a>
                <a href="hackshops.html">Hackshops</a>
                <a href="community.html">Community</a>
            </div>
        </div>
    </header>

    <div class="slide hero">
        <h1>Projects</h1>
    </div>
    <div class="content">
        <div class="description">
        <p>Our project teams are made up of students using <span class="bold">human centered design</span> to address a pressing problem in the community like homelessness or healthcare improvement. We <span class="bold">identify </span>a problem and then partner with community organizations and individual clients to <span class="bold">immerse </span>ourselves into the problem and learn about the issue firsthad. we ues the information we gather to continuously <span class="bold">reframe </span>our problem to best address the needs of the user.</p>
        <p>We then <span class="bold">ideate </span>potential solutions to the problem, <span class="bold">build</span> these ideas, and <span class="bold">test</span> them in the field before we launch them to be deployed in the real world. We strive to build empathic products that directly address our users' needs and can make a difference in how people live their lives.
        </div>
        <div class="slide projects">
            <a href="project.html">
                <div class="project boo">
                    <h2>Boo Boo Buddy</h2>
                </div>
            </a>
            <a href="project.html">
                <div class="project boo">
                    <h2>Boo Boo Buddy</h2>
                </div>
            </a>
            <a href="project.html">
                <div class="project boo">
                    <h2>Boo Boo Buddy</h2>
                </div>
            </a>
            <a href="project.html">
                <div class="project boo">
                    <h2>Boo Boo Buddy</h2>
                </div>
            </a>
        </div>
    </div>

    <footer>
        <div class="inner">
            <div class="copyright">
                &copy; 2015 Design for America
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pages/Design-for-America-MIT/540760426009269"  target="_blank">
                    <img src="../../img/social/facebook-small.svg" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com/mitdfa" target="_blank">
                    <img src="../../img/social/twitter-small.svg" alt="Twitter" class="social-icon">
                </a>
            </div>
            <div class="links small">
                <a href="faq.html">FAQ</a>
                <a href="contact.html">Contact Us</a>
            </div>
        </div>
    </footer>
</body>